#index-banner .container{
    display: flex;
    height: 307px;
    border-bottom: 1px solid var(--main-color);
}
#index-banner .vision-info{
    max-width: 600px;
    flex-grow: 1;
    background: #fff url(../images/bg_leader3.png) no-repeat left center / contain;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
#index-banner .vision-info .vision-info-list{
    width: 576px;
    height: 36px;
    background: linear-gradient(to right, #383a43, #9d091f);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#index-banner .vision-info .vision-info-list .vision-info-item,
#index-banner .chief-info .chief-info-list .chief-info-item {
    flex-grow: 1;
}
#index-banner .vision-info .vision-info-list .vision-info-item > a,
#index-banner .chief-info .chief-info-list .chief-info-item > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    color: #fff;
    font-weight: 300;
}
#index-banner .vision-info .vision-info-title .arrow-circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 5px;
    background: #fff;
}
#index-banner .vision-info .vision-info-title .arrow-circle .xi-arrow-right{
    color: var(--main-color);
    font-weight: 900;
}
#index-banner .chief-info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    flex-grow: 1;   
    background: #fff url(../images/bg_leader2.png) no-repeat right bottom / contain;
}
#index-banner .chief-info .chief-greeting{
    position: absolute;
    left: calc(30% - 140px);
    top: 47%;
    transform: translateY(-50%);
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
}
#index-banner .chief-info .chief-greeting::before,
#index-banner .chief-info .chief-greeting::after{
    content: '';
    display: block;
    position: absolute;
    width: 19px;
    height: 13px;
}
#index-banner .chief-info .chief-greeting::before{
    background: url(../images/leader_icon_left.png);
    left: -10%;
    top: -15%;
}
#index-banner .chief-info .chief-greeting::after{
    background: url(../images/leader_icon_right.png);
    right: -10%;
    bottom: -15%;
}
#index-banner .chief-info .chief-greeting .upper-point{
    position: relative;
}
#index-banner .chief-info .chief-greeting .upper-point::after{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
#index-banner .chief-info .chief-greeting .chief-name{
    font-size: 1.2em;
    color: #373c4f;
    font-weight: 700;
    letter-spacing: 0.15em;
}
#index-banner .chief-info .chief-img-box{
    margin: 0 30px -36px 0;
}
#index-banner .chief-info .chief-info-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 368px;
    padding: 0 8px;
    background: linear-gradient(to left, #383a43, #9d091f);
    box-shadow: 2px 5px 15px rgba(21, 21, 21, 0.5);
}
#index-banner .chief-info .chief-info-list .chief-info-item {
    height: 36px;
}

#main-info{
    margin-top: 26px;
}
#main-info .main-service{
    background: #f2f2f2;
}
#main-info .main-service .swiper-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}
#main-info .main-service .swiper-button-prev{
    left: 0;
}
#main-info .main-service .swiper-button-next{
    right: 0;
}
#main-info .main-service .frame #main-service-swiper{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    padding: 0 2%;
    height: 120px;
}
#main-service-swiper .swiper-item{
    flex-shrink: 0;
    width: calc(100% / 9);
}
#main-service-swiper .swiper-item .swiper-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
#main-service-swiper .swiper-item .swiper-item-link .swiper-item-title{
    font-size: 14px;
    font-weight: 500;
    color: #666;
}
@media (max-width: 1080px){
    #index-banner .container{
        display: block;
        height: auto;
        border-bottom: none;
    }
    #index-banner .chief-info{
        /* 화면 너비가 540px일때 margin-top이 80px에 도달 */
        margin-top: min(calc(54% - 172px), 80px);
        height: 180px;
        align-items: end;
        background: #fff url(../images/bg_leader2.png) no-repeat left bottom 36px / auto;
    }
    #index-banner .chief-info .chief-greeting{
        left: min(5vw, 30px);
        /* 320px일 때 top: 30px 정도에서 시작하여 화면이 넓어지면서 -10px 도달 */
        top: max(-10px, calc(77px - 13.6vw));
        transform: translateY(0);
        /* 화면 너비가 540px일 때 32px 도달 */
        font-size: min(calc(3.2vw + 10px), 32px);
    }
    #index-banner .chief-info .chief-img-box{
        /* 화면 너비가 550px쯤 max-height가 250px에 도달 */
        max-height: 250px;
        height: max(46vw, 150px);
        margin: 0 10px -10px 0;
    }
    #index-banner .chief-info .chief-greeting::before,
    #index-banner .chief-info .chief-greeting::after{
        transform: scale(0.85);
    }
    #index-banner .chief-info .chief-info-list{
        width: 100%;
        border-radius: 7px;
    }
}