#index-banner .container{
    display: flex;
    height: 307px;
    border-bottom: 1px solid var(--main-color);
}
#index-banner .vision-info{
    max-width: 600px;
    flex-grow: 1;
    background: #fff url(../images/bg_leader3.png) no-repeat left center / contain;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
#index-banner .vision-info .vision-info-list{
    width: 576px;
    height: 36px;
    background: linear-gradient(to right, #383a43, #9d091f);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#index-banner .vision-info .vision-info-list .vision-info-item,
#index-banner .chief-info .chief-info-list .chief-info-item {
    flex-grow: 1;
}
#index-banner .vision-info .vision-info-list .vision-info-item > a,
#index-banner .chief-info .chief-info-list .chief-info-item > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    color: #fff;
    font-weight: 300;
}
#index-banner .vision-info .vision-info-title .arrow-circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 5px;
    background: #fff;
}
#index-banner .vision-info .vision-info-title .arrow-circle .xi-arrow-right{
    color: var(--main-color);
    font-weight: 900;
}
#index-banner .chief-info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    flex-grow: 1;   
    background: #fff url(../images/bg_leader2.png) no-repeat right bottom / contain;
}
#index-banner .chief-info .chief-greeting{
    position: absolute;
    left: calc(30% - 140px);
    top: 47%;
    transform: translateY(-50%);
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
}
#index-banner .chief-info .chief-greeting::before,
#index-banner .chief-info .chief-greeting::after{
    content: '';
    display: block;
    position: absolute;
    width: 19px;
    height: 13px;
}
#index-banner .chief-info .chief-greeting::before{
    background: url(../images/leader_icon_left.png);
    left: -10%;
    top: -15%;
}
#index-banner .chief-info .chief-greeting::after{
    background: url(../images/leader_icon_right.png);
    right: -10%;
    bottom: -15%;
}
#index-banner .chief-info .chief-greeting .upper-point{
    position: relative;
}
#index-banner .chief-info .chief-greeting .upper-point::after{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
#index-banner .chief-info .chief-greeting .chief-name{
    font-size: 1.2em;
    color: #373c4f;
    font-weight: 700;
    letter-spacing: 0.15em;
}
#index-banner .chief-info .chief-img-box{
    margin: 0 30px -36px 0;
}
#index-banner .chief-info .chief-info-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 368px;
    padding: 0 8px;
    background: linear-gradient(to left, #383a43, #9d091f);
    box-shadow: 2px 5px 15px rgba(21, 21, 21, 0.5);
}
#index-banner .chief-info .chief-info-list .chief-info-item {
    height: 36px;
}

#main-info{
    margin-top: 26px;
}
#main-info .main-service{
    background: #f2f2f2;
}
#main-info .main-service .swiper-button{
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
    background: #f2f2f2;
}
#main-info .main-service .swiper-button-prev{
    left: 0;
}
#main-info .main-service .swiper-button-next{
    right: 0;
}
#main-info .main-service .frame{
    overflow: hidden;
    padding: 0 2%;
}
#main-info .main-service .frame #main-service-swiper{
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    height: 120px;
}
#main-info .main-service .frame #main-service-swiper.slidable{
    transition: left 0.6s 80ms;
}
#main-service-swiper .swiper-item{
    flex-shrink: 0;
    width: calc(100% / 9);
}
#main-service-swiper .swiper-item .swiper-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
#main-service-swiper .swiper-item .swiper-item-link .swiper-item-title{
    font-size: 14px;
    font-weight: 500;
    color: #666;
}
#main-info .info-board{
    margin: 26px 0;
}
#main-info .info-board-top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    height: 307px;
}
#main-info .info-board-top .announcement{
    position: relative;
    height: 100%;
    flex-grow: 1;
    background: #f2f2f2;
    padding: 20px;
}
#main-info .info-board-top .announcement .canvus {
    padding: 20px 0 25px;
    max-width: 935px;
    height: 267px;
    background: #fff;
    border-radius: 10px;
}
#main-info .info-board-top .announcement .canvus .announcement-head{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-info .info-board-top .announcement .canvus .announcement-body{
    padding-top: 20px;
}
#main-info .info-board-top .announcement .canvus .announcement-body .swiper-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f9e0e6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-weight: 900;
    font-size: 24px;
}
#main-info .info-board-top .announcement .canvus .announcement-body .swiper-button-prev{
    left: 10px;
    padding-right: 5px;
}
#main-info .info-board-top .announcement .canvus .announcement-body .swiper-button-next{
    right: 10px;
    padding-left: 5px;
}
#main-info .announcement .category-list {
    display: flex;
    column-gap: 20px;
}
#main-info .announcement .category-swiper-frame{
    margin: 0 40px;
    /* background: #cfc; */
    overflow: hidden;
}
#main-info .announcement .category-swiper-frame .category-swiper{
    position: relative;
    left: 0px;
    display: flex;
    align-items: center;
}
#main-info .announcement .category-swiper-frame .category-swiper.slidable{
    transition: left 0.6s 80ms;
}
#main-info .announcement .category-swiper-frame .category-swiper .swiper-item{
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 4 - 20px);
    height: 170px;
    flex-shrink: 0;
    /* background: #ffc; */
}
#main-info .announcement .category-swiper-frame .category-swiper .swiper-item::before{
    position: absolute;
    top: 25px;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #e0e3e6;
}
#main-info .announcement .category-swiper-frame .category-swiper .swiper-item .department{
    position: relative;
    z-index: 1;
    padding: 15px 10px 0 10px;
    background: #fff;
    font-size: 14px;
}
#main-info .announcement .category-swiper-frame .category-swiper .swiper-item .department::before{
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--main-color);
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
}
#main-info .announcement .category-swiper-frame .category-swiper .swiper-item .swiper-item-link{
    display: block;
    height: 65px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
#main-info .announcement .category-swiper-frame .category-swiper .swiper-item .swiper-item-link:hover{
    text-decoration: underline;
}
#main-info .announcement .category-swiper-frame .category-swiper .swiper-item .swiper-item-date{
    color: #888;
    font-size: 14px;
}
#main-info .info-board-top .with-citizen{
    width: 265px;
    height: 100%;
    flex-shrink: 0;
}
@media (max-width: 1080px){
    #index-banner .container{
        display: block;
        height: auto;
        border-bottom: none;
    }
    #index-banner .chief-info{
        /* 화면 너비가 540px일때 margin-top이 80px에 도달 */
        margin-top: min(calc(54% - 172px), 80px);
        height: 180px;
        align-items: end;
        background: #fff url(../images/bg_leader2.png) no-repeat left bottom 36px / auto;
    }
    #index-banner .chief-info .chief-greeting{
        left: min(5vw, 30px);
        /* 320px일 때 top: 30px 정도에서 시작하여 화면이 넓어지면서 -10px 도달 */
        top: max(-10px, calc(77px - 13.6vw));
        transform: translateY(0);
        /* 화면 너비가 540px일 때 32px 도달 */
        font-size: min(calc(3.2vw + 10px), 32px);
    }
    #index-banner .chief-info .chief-img-box{
        /* 화면 너비가 550px쯤 max-height가 250px에 도달 */
        max-height: 250px;
        height: max(46vw, 150px);
        margin: 0 10px -10px 0;
    }
    #index-banner .chief-info .chief-greeting::before,
    #index-banner .chief-info .chief-greeting::after{
        transform: scale(0.85);
    }
    #index-banner .chief-info .chief-info-list{
        width: 100%;
        border-radius: 7px;
    }

    #main-info{
        margin-top: 37px;
    }
    #main-info .main-service .swiper-title{
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: #003476;
    }
    #main-info .main-service .swiper-title strong{
        color: var(--main-color);
    }
    #main-info .main-service .swiper-button{
        height: calc(100% - 55px);
        top: unset;
        bottom: 0;
        transform: translateY(0);
    }
    #main-info .main-service .frame{
        padding: 0 calc(32px - 5vw);
    }
    #main-info .main-service .frame #main-service-swiper{
        height: auto;
        padding: 15px 0;
        align-items: flex-start;
    }
    #main-service-swiper .swiper-item{
        width: calc(100% / 4);
    }
    #main-service-swiper .swiper-item .swiper-item-link .swiper-item-title{
        font-weight: 500;
        color: #555;
        text-align: center;
    }
}