@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* reset */
*,:after,:before { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }
li { list-style: none; }
img,video { vertical-align: top; max-width: 100%; max-height: 100%;}
button { border: none; background: none; cursor: pointer; font: inherit; color: inherit; } 
input { border: none; }

/* common */
:root { font-family: 'Noto Sans KR', sans-serif; font-size: 16px; line-height: 1.6; letter-spacing: -0.03em; color: #333;}
.hidden { display: none !important; }
.blind { width: 0; height: 0; font-size: 0; overflow: hidden; position: absolute; left: -9999px;}
.cl::after { content: ''; clear: both; display: block; }
.container { max-width: 1280px; margin: 0 auto; position: relative; }
@media (max-width: 1080px){
    .desktop-only{
        display: none !important;
    }
    .container {
        min-width: 320px;
        max-width: 720px;
        padding: 0 5%;
        box-sizing: content-box;
    }
    body.scroll-lock{
        overflow: hidden;
        height: 100%;
    }
}
@media (min-width: 1081px){
    .mobile-only{
        display: none !important;
    }
}
/* variable */
:root { 
    --main-color: rgb(162, 2, 34);
    --main-color-highlight: rgba(255, 100, 100, 0.4);
    --globalnav-color: #af0019;
}